SPINE....
tensorflow>=2.15.0
keras>=3.0.0
numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0
opencv-python>=4.8.0
scikit-image>=0.22.0
scikit-learn>=1.3.0
scipy>=1.11.0
nibabel>=5.2.0
SimpleITK>=2.3.0
Pillow>=10.0.0
tqdm>=4.66.0
seaborn
imageio
h5py



BRAIN...
tensorflow>=2.12
keras
numpy
pandas
matplotlib
opencv-python
scikit-image
scikit-learn
scipy
nibabel
Pillow
streamlit
h5py
tqdm
networkx
jupyter
ipykernel
